body {
    overflow: hidden;
    height: 100vh;
    background-color: var(--background-color);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    color: var(--text-color);
}